.detail-button-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1em;
}

.detail-button-container > div {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.detail-button-container > div:nth-last-child(1) {
  justify-content: flex-end;
}

.detail-button-container a, .detail-button-container button {
  width: fit-content;
  aspect-ratio: 0;
}

.disabled {
  color: #9D9D9D;
  background-color: rgb(var(--color-2));
  border: 2px solid #9D9D9D;
  box-shadow: 0 5px .1px #9D9D9D;
  cursor: not-allowed;
}

.disabled:hover, .disabled:focus, .disabled:active {
  color: #9D9D9D;
  background-color: rgb(var(--color-2));
  border: 2px solid #9D9D9D;
  box-shadow: 0 5px .1px #9D9D9D;
  outline: none;
  -webkit-transform: none;
  transform: none;
}

.bookmark-btn.bookmarked svg {
  fill: currentColor;
}
