.taste-container {
  width: 100%;
  max-width: 350px;
}

.taste-container canvas {
  border-radius: 3px;
  background-color: rgb(var(--color-2));
}

.taste-table th, .taste-table td {
  padding: .25em;
  border: none;
  background-color: rgb(var(--color-2));
}

.taste-table th {
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
  text-align: center;
}

.taste-table td:nth-child(odd) {
  text-align: start;
}

.taste-table td:nth-child(even) {
  text-align: end;
}

.taste-table {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  padding: .125em;
  border-radius: 3px;
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-1));
  overflow: hidden;
}

.taste-table td {
  width: 50%;
  font-size: .9em;
}

.taste-table th {
  font-weight: 500;
}
