#spoonacular-equipment-vis-grid {
  display: block;
  background-color: white;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
}

#spoonacular-ingredient-vis-grid {
  display: block;
  background-color: white;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
}

.spoonacular-grid-item {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  width: 150px;
  font-size: .8em;
  text-overflow: ellipsis;
}

.spoonacular-equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spoonacular-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spoonacular-image-wrapper {
  display: inline-block;
}

.spoonacular-image-wrapper > img {
  width: 100px;
  aspect-ratio: 1/1;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.spoonacular-name {
  display: inline-block;
  color: #41444B;
}

.spoonacular-amount {
  display: inline-block;
  color: #41444B;
}

@media (min-width: 750px) {
  .spoonacular-name {
    font-size: .9em;
  }
}
