.similar-container {
  width: 100%;
  margin: 0;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.similar-item {
  position: relative;
  min-width: 200px;
  padding: 0;
  flex-direction: column;
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  scroll-snap-align: center;
}

.similar-item:hover h4, .similar-item:focus h4 {
  color: rgb(var(--color-2));
}

.similar-item img {
  width: 100%;
}

.similar-item h4 {
  padding: 1em .5em;
}

.recipes-list-empty {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-1));
}

@media screen and (orientation: landscape), (min-width: 750px) {
  .similar.section {
    grid-column: 1 / 3;
  }

  .similar-item {
    min-width: 400px;
  }
}
