.nutrient > p {
  padding: 0 2em;
  text-align: justify;
  font-size: .9em;
}

.nutrient-tables {
  width: 90%;
  max-width: 350px;
  max-height: 80vh;
  padding-right: .5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  background-color: rgb(var(--color-2));
  overflow-y: auto;
}

.nutrient-table th, .nutrient-table td {
  padding: .25em;
  border: none;
  background-color: rgb(var(--color-2));
}

.nutrient-table th {
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
  text-align: center;
}

.nutrient-table td:nth-child(odd) {
  text-align: start;
}

.nutrient-table td:nth-child(even) {
  text-align: end;
}

.nutrient-table {
  width: 100%;
  margin: 0 auto;
  padding: .125em;
  border-radius: 3px;
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-1));
  text-align: center;
  overflow: hidden;
}

.nutrient-table td {
  font-size: .9em;
}

.nutrient-table th {
  font-weight: 500;
}
