footer {
  position: relative;
  width: 100%;
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
}

footer h3 {
  font-size: 2em;
  color: rgb(var(--color-2));
}

.footer-content > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item {
  position: relative;
  min-width: 44px;
  min-height: 44px;
  padding: 0;
  border: none;
  color: rgb(var(--color-2));
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2em;
}

.footer-item:focus, .footer-item:hover, .footer-item:active {
  outline: none;
  transform: none;
}

.footer-item::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  content: '';
  width: 0;
  height: 2px;
  background-color: rgb(var(--color-2));
  transition: .3s;
}

.footer-item:hover::after, .footer-item:focus::after {
  width: 100%;
}

.footer-content {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3em;
}

.footer-title img {
  width: 100%;
  max-width: 200px;
}

.footer-title p {
  font-size: 1.2em;
  text-align: center;
}

.footer-nav > div {
  width: 100%;
  padding: 1em .5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: .5em;
}

.contact {
  margin-bottom: 50px;
}

.contact > div {
  width: fit-content;
  padding: 1em .5em;
}

.contact-icon {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact a {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  color: rgb(var(--color-1));
  font-size: 2em;
  font-weight: 300;
}

.contact button:hover, .contact button:focus, .contact a:hover, .contact a:focus {
  outline: none;
  transform: none;
}

.copyright {
  width: 100%;
  padding: 2em 1em 100px 1em;
  border-top: 2px solid rgb(var(--color-2));
}

.copyright p {
  width: 100%;
  text-align: end;
  font-weight: 100;
}

footer + div {
  width: 100%;
  height: .1px;
}

@media screen and (orientation: landscape), (min-width: 700px) {
  .footer-content {
    min-height: 30vh;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
  
  .footer-content > div {
    max-width: 300px;
  }

  .footer-nav > div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5em;
  }

  .contact {
    margin-bottom: 0;
  }

  .contact > div {
    width: 100%;
  }

  .copyright {
    padding: 2em 1em;
  }
}
