.nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  border-radius: 30px 30px 0 0;
  background-color: rgb(var(--color-2));
  box-shadow: 0px 5px 20px rgba(var(--color-1), .5);
  z-index: 10000;
}

.logo {
  position: relative;
  width: fit-content;
  height: 100%;
  display: none;
}

.logo > img {
  width: 50px;
}

.nav-container {
  position: relative;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.nav-item {
  height: fit-content;
  width: fit-content;
}

.nav-item > a.selected {
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
  outline: 2px solid rgb(var(--color-2));
  outline-offset: -4px;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  box-shadow: none;
}

@media screen and (min-width: 400px) {
  .nav-container {
    justify-content: space-evenly;
    gap: 0;
  }
}

@media screen and (orientation: landscape), (min-width: 800px) {
  .nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0;
    padding: .5em 2em;
  }

  .logo {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }

  .nav-container {
    flex: 1;
    justify-content: flex-end;
    gap: 1em;
    padding: 0;
  }
}
