.recipes-list {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.recipe-container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  outline: 3px solid rgb(var(--color-1));
  background-color: rgb(var(--color-2));
  color: rgb(var(--color-1));
  border-radius: 10px;
  overflow: hidden;
}

.recipe-container h3 {
  padding: 1em;
  text-align: center;
}

.recipe-container a {
  width: fit-content;
  margin: 1em;
}

.recipes-list img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2/1;
}

.recipes-list-empty {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-1));
}

@media screen and (min-width: 600px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .recipes-list {
    padding: .5em;
  }
}

@media screen and (min-width: 1000px) {
  .recipes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .recipes-list {
    max-width: fit-content;
    grid-template-columns: repeat(4, 1fr);
  }
}
