.search-bar {
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  padding: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-2));
  background-image: url('../../svg/layered-waves-bottom.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s ease;
  overflow: hidden;
  z-index: 20;
}

.search-bar.open {
  bottom: 0;
}

.toggle-search-container {
  width: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.search-bar h2 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: .5em;
  padding: .5em 1em;
  color: rgb(var(--color-1));
  background-color: rgb(var(--color-2));
  box-shadow: -5px 5px 0px rgb(var(--color-1));
  border: 1px solid rgb(var(--color-1));
  text-align: center;
}

.input-container {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.search-bar label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.search-bar span {
  color: rgb(var(--color-1));
  font-weight: 700;
}

.search-input {
  width: 100%;
  margin-bottom: 1em;
  outline: none;
  border: 2px solid rgb(var(--color-1));
}

.selector-container {
  width: 100%;
  margin-bottom: 1em;
  padding-bottom: .5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
  overflow-y: auto;
}

.search-input[type=radio], .search-input[type=checkbox] {
  min-width: 100px;
  min-height: 44px;
  margin: 0;
	padding: .5em 0;
  display: flex;
  align-items: center;
	border-radius: 5px;
	outline: none;
  border: 2px solid rgb(var(--color-1));
	background-color: rgb(var(--color-2));
	color: rgb(var(--color-1));
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 12px;
	cursor: pointer;
	transition: all .3s linear;
}

.search-input[type=radio]:checked, .search-input[type=checkbox]:checked {
  background-color: rgb(var(--color-1));
	color: rgb(var(--color-2));
  outline: 2px solid rgb(var(--color-2));
  outline-offset: -5px;
}

.search-input[type=radio]:before, .search-input[type=checkbox]::before {
	content: attr(label);
	width: 100%;
	display: inline-block;
	text-align: center;
}

.button-container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .5em;
}

.button-container button {
  width: fit-content;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus {
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
}

@media screen and (orientation: landscape), (min-width: 800px) {
  .search-bar {
    position: -webkit-sticky;
    position: sticky;
    top: .5em;
    min-height: 0;
    margin: .25em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(var(--color-1), .5);
    background-image: none;
    z-index: 5;
  }

  .toggle-search-container, 
  .toggle-search-btn {
    display: none;
  }

  .input-container {
    max-height: 60vh;
  }

  .button-container button {
    width: 100%;
    aspect-ratio: none;
  }
}
