.recipes-list {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  z-index: 5;
}

.recipe-container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 1px 3px rgba(var(--color-1), .75);
  background-color: rgb(var(--color-2));
  border-radius: 3px;
  overflow: hidden;
}

.recipe-container:hover, .recipe-container:focus {
  background-color: rgb(var(--color-1));
}

.recipe-container h3 {
  padding: 1em;
  text-align: center;
}

.recipe-container:hover h3, .recipe-container:focus h3 {
  color: rgb(var(--color-2));
}

.recipe-container img {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 2/1;
}

.recipe-container .nutrition {
  width: 100%;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
  overflow-x: auto;
}

.recipe-container .nutrition p {
  font-size: .75em;
  font-weight: 300;
}

.recipes-list-empty {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-1));
}

@media screen and (min-width: 600px) {
  .recipes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .recipes-list {
    padding: 0 .5em;
  }
}

@media screen and (min-width: 1000px) {
  .recipes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .recipes-list {
    max-width: fit-content;
    grid-template-columns: repeat(4, 1fr);
  }
}
