main {
  min-height: 100vh; 
  background-color: var(--color-2);
}

.description {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.description div {
  width: 100%;
  max-width: 500px;
  padding: 1em;
  text-align: justify;
}

.description span {
  font-size: 1.25em;
  color: var(--color-1);
}

.description span:nth-child(1) {
  font-size: 1.75em;
  font-weight: 900;
}

.services {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  padding: 5em 1em;
  gap: 1em;
}

.services p {
  text-align: center;
  background-color: var(--color-2);
  color: var(--color-1);
  padding: 1em;
}

.services p:nth-child(1) {
  background-color: transparent;
}

.services a {
  width: fit-content;
  margin: 0 auto;
  padding: 0 2em;
  border: .5px solid var(--color-1);
  box-shadow: none;
  z-index: 1;
}

.service-info a {
  display: none;
}

.service {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: justify;
  border: 2px solid var(--color-1);
  border-radius: 20px;
  overflow: hidden;
  background-color: #F9F9F9;
}

.service h3 {
  width: 100%;
  padding: 1em 0;
  background-color: var(--color-2);
  color: var(--color-1);
  border-bottom: 2px solid var(--color-1);
  text-align: center;
  font-weight: 700;
}

.service .svg {
  max-width: 200px;
  aspect-ratio: 1/1;
}

.service svg [data-svg="main-color"] {
  fill: var(--color-1);
}

.about {
  min-height: 100vh;
  padding: 8.5em 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about h3 {
  padding: 1em 0;
}

.parallax {
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.img1 { background-image: url('../../../public/img/prlx-bg-1.jpg'); }

.parallax.img2 { background-image: url('../../../public/img/prlx-bg-2.jpg'); }

.parallax.img3 { background-image: url('../../../public/img/prlx-bg-3.jpg'); }

.parallax-caption {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  padding: 1em;
  background-color: var(--color-2);
}

.parallax-caption h2 {
  font-size: 1.5em;
  font-weight: 800;
  color: var(--color-1);
}

@media screen and (min-width: 600px) {
  .parallax-caption {
    padding: 0;
    background-color: transparent;
  }

  .parallax-caption h2 {
    width: fit-content;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: var(--color-2);
  }
}

@media screen and (min-width: 700px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }

  .service-info {
    max-width: 400px;
    margin: 0 auto;
    grid-column: 1/3;
  }

  .services p:nth-child(1) {
    font-size: 1.25em;
  }

  .service {
    height: fit-content;
    padding: 0;
  }

  .services a {
    padding: 0 3em;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1050px) {
  .services {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: .5em;
  }

  .services > a {
    display: none;
  }

  .service-info {
    flex-grow: 1;
    text-align: end;
  }

  .service-info > p {
    text-align: end;
  }

  .service-info > a {
    display: flex;
  }

  .service {
    margin: 0 0 0 1em;
  }
}
