main {
  min-height: 100vh;
  background-color: transparent;
  background-image: url('../../svg/layered-waves-bottom.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  position: relative;
  min-height: 100vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-caption h2 {
  width: fit-content;
  max-width: 300px;
  padding: .5em;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(var(--color-1));
  background-color: rgb(var(--color-2));
  border: 1px solid rgb(var(--color-1));
  box-shadow: -10px 10px 1px rgb(var(--color-1));
  text-align: center;
}

.parallax.description { 
  background-position: left;
  background-image: url('../../../public/img/background-1.jpg'); 
  text-align: justify;
}

.parallax-caption {
  width: fit-content;
}

.description-caption {
  width: fit-content;
}

.description-caption > div {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 2em;
  background-color: rgba(var(--color-2), .9);
}

.description span {
  color: rgb(var(--color-1));
}

.description span:nth-child(1) {
  font-size: 1.2em;
  font-weight: 900;
}

.parallax.services { 
  background-position: right top;
  background-image: url('../../../public/img/background-2.jpg'); 
}

.services-container {
  width: 100%;
  height: fit-content;
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.services-container p {
  text-align: center;
  color: rgb(var(--color-1));
  padding: 1em;
}

.service-info {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.service-info > p {
  max-width: 450px;
  margin: 0 auto;
  padding: 0;
  color: rgb(var(--color-1));
}

.service-info a {
  margin-bottom: 5px;
}

div:has(> .service) {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  overflow: hidden;
}

.service {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  text-align: justify;
  border: 2px solid rgb(var(--color-1));
  border-radius: 10px;
  background-color: rgba(var(--color-2), .75);
  overflow: hidden;
}

.service h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-1));
  text-align: center;
  font-weight: 700;
}

.service > div {
  width: 150px;
  height: 100%;
  margin: 0 auto;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.service .svg {
  width: 100%;
}

.service > p {
  padding: 0;
  text-align: start;
}

@media screen and (min-width: 400px) {
  .service {
    grid-template-columns: auto 1fr;
  }

  .service > div {
    grid-row: 1/3;
    border-right: 2px solid rgb(var(--color-1));
  }

  .service > p {
    padding: 0 0 0 1em;
  }
}

@media screen and (min-width: 650px) {
  .description span {
    font-size: 1.25em;
  }

  .description span:nth-child(1) {
    font-size: 1.75em;
  }

  .service-info {
    max-width: 750px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .service-info > p {
    margin: 0;
    font-size: 1.25em;
  }
}

@media screen and (min-width: 800px) {
  div:has(> .service) {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .parallax.description {
    align-items: flex-end;
  }

  .parallax-caption {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parallax-caption h2 {
    width: 100%;
  }

  .description-caption {
    width: 50%;
  }

  .description-caption > div {
    background-color: transparent;
  }
}
