.recipe-page-main {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .recipe-page-main {
    padding: .5em;
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .recipe-page-main {
    width: fit-content;
    margin: 0 auto;
  }
}