@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-1: 64, 67, 74;
  --color-2: 252,253,255;
  --color-3: 254,201,227;
}

::selection {
  color: rgb(var(--color-2));
  background-color: rgb(var(--color-1));
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #F9F9F9;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .5); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input, a, button {
  min-width: 44px;
  min-height: 44px;
  padding: 0 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  transition: all .3s ease;
}

input::placeholder {
  color: rgba(64, 67, 74, .5);
}

a, button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  color: rgb(var(--color-1));
  background-color: rgb(var(--color-2));
  box-shadow: 0 5px 0.1px rgb(var(--color-1));
  border: 2px solid rgb(var(--color-1));
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

a:focus, button:focus, 
a:hover, button:hover {
  background-color: rgb(var(--color-1));
  color: rgb(var(--color-2));
  outline: 2px solid rgb(var(--color-2));
  outline-offset: -4px;
}

a:active, button:active {
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--color-1));
}

h1 { font-weight: 900; }

h2 { font-weight: 700; border-radius: 10px; }

h3 { font-weight: 500; border-radius: 5px; }

#root {
  width: 100%;
  height: fit-content;
  background-color: rgb(var(--color-2));
}
